body
{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background: #0e0e0e;
height:100%;
}

a
{
border:0px;
outline:0px;
}

#lwrapper
{
top:0px;
left:0px;
display:none;
width:100%;
height:100%;
z-index:1500;
position:fixed;
background:rgba(0,0,0,0.6);
text-align:center;
}

#loginwrapper
{
z-index:20000;
margin:0 auto;
width:500px;
background:#FFF;
height:400px;
margin-top:100px;
text-align:center;
padding:10px;
box-shadow:0px 0px 50px 0px #000 inset;
-moz-box-shadow:0px 0px 50px 0px #000 inset;
}

#loginclose
{
margin-left:490px;
margin-top:-20px;
cursor:pointer;
}

#logindisplay
{
cursor:pointer;
}


#blogs
{
height:100px;
}

#blogstext
{
margin-left:-40px;
color:#FFF;
position:absolute;
display:none;
height:27px;
width:130px;
background:rgba(0,0,0,0.4);
z-index:20000;
}

.bloglink
{
padding:10px;
flaot:left;
cursor:pointer;
}
a img
{
border:0px;
outline:0px;
}

#mainwrapper
{
    margin: 0 auto;
    width:1200px;
    overflow: hidden;
    position:relative;
    background: #000;
    box-shadow:0px 0px 20px 10px rgba(0,0,0,0.5);
}


#breadcrumbs
{
	margin-top:65px;
	margin-left:93px; 
	color:#fff;
	font-size:14px;
	cursor:default;
}

#highlight
{
    position:absolute;
    top:207px;
    left:70px;
    z-index:-1;
    background:#b8163c;
    display:none;
    width:250px;
    height:30px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

#highlight2
{
    position:absolute;
    top:194px;
    left:70px;
    z-index:-1;
    background:#b8163c;
    display:none;
    width:20px;
    height:60px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}
#logo
{
    position:absolute;
    top:20px;
    left:20px;
}
#eventsmenu
{
    margin-top:50px;
    text-align:center;
}

.eventslist
{
    min-width:100px;
    text-align:center;
    background:#6c808c;
    display:inline-block;
    margin: 15px 30px;
    color:#000;
    border:2px solid #6c808c;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -moz-box-shadow: 0px 0px 5px 2px rgba(180,180,180,1);
    box-shadow: 0px 0px 5px 2px rgba(180,180,180,1);
    text-decoration:none;
    list-style: none;
    padding: 5px;
    cursor:pointer;
    color:#e6e6e6;
    -webkit-transition: all 0.31s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;

}

.eventslist:hover
{
    
    box-shadow: -3px -3px 0px 0px #000;
    
   
}

.eventslist a
{
color:#e6e6e6;
text-decoration:none;
}

#header
{
    position: relative;
    z-index:2;
    background: url(/2012/site_media/images/header.png) repeat-x;
    height:300px;
    width:100%;
}

#flashContent
{
	position:absolute;
	top:70px;
}
#updates
{
	position:relative;
	float:left;
	color:#FFF;
	margin-top:20px;
	margin-left:50px; 
	font-size : 14px;
	width:500px; 
	
}

#update
{
	display:inline;
	width:500px; 
	font-size : 12px;
}

#toplinks
{
list-style-type:none;
position:relative;
float:right;
}

#toplinks li
{
	cursor:pointer;
	float:left;
	color:#FFF; 
	margin:5px;
	padding:5px;
}



#toplinks a
{
	text-decoration:none;
	color:#FFF;
}

#toplinks a:hover
{
color:#0EBFE9;

}

.bloglinks:hover
{
}
#blogs:hover
{
color:#0EBFE9;
}

#categorieswrapper
{
    position:absolute;
    margin-top:-2px;
    height:122px;
    width:100%;
    background: #FFF;
    z-index:2;
  overflow: hidden;
}

#categories
{
    position:relative;
    z-index:4;
    height:120px;
    width:5000px;
    margin-left:0px;
}

#dragbar
{
    position:absolute;
    margin-left:0px;
    margin-top:-35px;
    height:224px;
    width:190px;
    left:-20px;
    background: url(/2012/site_media/images/dragbar.png);
    cursor: pointer;
    z-index:3;
}

#arrows
{
	width:1200px;
	margin:auto;
	position:relative;
	top:330px;
}

#lefta
{
	width:48px;
	height:48px;
	background:url(/2012/site_media/images/arrow_left.png);
	position:absolute;
	margin-left:-48px;
	cursor:pointer;
	visibility:hidden;
}


#righta
{
	width:48px;
	height:48px;
	background:url(/2012/site_media/images/arrow_right.png);
	position:absolute;
	margin-left:1200px;
	cursor:pointer;
}



#dragtxt
{
    color:#FFF;
    font-size:12px;
    position:relative;
    margin-top:172px;
    margin-left:70px;
    font-weight:bold;
    width:50px;

}

#left
{
    position:relative;
    margin-left:15px;
}
#right
{
    position:relative;
    margin-left:-30px;
}

#innertxt
{
    position:relative;
    opacity:0;
}

#content
{
    top:0px;
    margin-top:0px;
    border-top: 0px solid #FFF;
    width:1200px;
    background: #000;
    background: url(/2012/site_media/images/content.png);
    background-color:#000;
    padding-bottom:100px;
    min-height:750px;
    position:relative;
    z-index:0;
    float:right;
    overflow: hidden;
  /*box-shadow:0 0 30px 20px rgba(0,0,0,0.5) inset;*/
}

#titleofevent
{
    position:absolute;
    font-size:38px;
    z-index:4;
    min-width:200px;
    color:#FFF;
    margin: 20px;
    margin-left:90px;
}

#register
{
    position:absolute;
    margin-left:640px;
    margin-top:0px;
    top:40px;
    width:350px;
    height:90px;
    color:#FFF;
cursor:pointer;
z-index:40000;
display:none;
text-align:center;
}

#register p
{
margin-top:20px;
}

#content1
{
    position:relative;
    margin-top:115px;
    width:350px;
    min-height:400px;
    float:left;
}

#footer
{
    width:100%;
    background: #000;
    min-height:60px;
    position:relative;
    float:left;
    color:#FFF;
}

.cat
{
    background-repeat: no-repeat;
    height:110px;
    width:150px;
    float:left;
    padding-top: 8px;
    text-align: center;
    user-select: none;
    cursor:pointer;
}

.catname
{
    color:#FFF;
    background: #000;
    height:auto;
    font-size: 12px;
    font-weight:700;
    margin-top:80px;
    margin-left: 0 auto;
    margin-right:0 auto;
    width:160px;
    user-select:none;
    cursor:pointer;
}

#events
{
    position:absolute;
    width:1100px;
    left:50px;
    background: #FFF;
    min-height:100px;
    padding: 10px 0px;
    z-index:1;
    margin-top:-200px;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;   
    -webkit-border-radius: 0px 0px 10px 10px;
}

.details
{
    width:100%;
    min-height:500px;
    position:absolute;
    margin-top:20px;
    color:#FFF;
}

.tabslist
{
    margin-top:0px;
    list-style:none;
    position:relative;
    margin-left:50px;
}

.tabslist li
{
    text-align:center;
    width:200px;
    color:#FFF;
    margin-left:5px;
    border-top: 1px solid #FFF;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
}

.lasthr
{
    cursor:default;
}

#tabcontent
{
    display:none;
    position:relative;
    padding-top:95px;
    width:75%;
    float:left;
    color:#FFF;
}



#tabcontent a
{
color:#FFF;
}

#tabwrap
{
    position:relative;
    float:right;
    min-height:200px;
    width:800px;
    overflow: hidden;
}

#sidebar
{
    position:absolute;
    float:right;
    right:0px;
    top:0px;
    background: rgba(53,82,111,0.1);
    box-shadow:0px 0px 10px 10px #000;
    width:200px;
    height:100%;
    padding-bottom:100px;
    text-align:center;
}

#sidebar h3
{
    background: #DEDEDE;
    color:#000;
    padding: 5px;
    margin: 5px;
    margin-top:30px;
}

#sidebar ul
{
    width:180px;
    list-style: none;
    margin-left:-30px;
}

#sidebar ul li
{
    padding: 5px 0px;
    margin: 5px 0px;
    color:#FFF;
}

#sidebar ul li a
{
    color:#FFF;
    text-decoration:none;
}

#buttonwrapper
{
  position: absolute;
  top:265px;
  left:530px;
  z-index:10;
  font-size:0px;
}

.buttons
{
  cursor:pointer;
  padding-left:1px;
  margin-left:-1px;
  padding-right:1px;
  margin-right:-1px;
}

#close
{
  display:none;
  position:absolute;
  bottom:10px;
  right:10px;
  z-index:2;
  cursor:pointer;
}

#regform
{
   margin : 10px 60px 0;
   
}


#regform ul
{
  list-style-type:none;
   
}

#regform input
{
  
  border : 1px solid black;
  
}

#formtitle
{
  margin : -70px -80px;
  color: #FFFFFF;
  font-size: 38px;
  min-width: 200px;
  position: absolute;
  z-index: 4;
}

#loginform {
    position: relative;
    text-align: center;
   
}
#loginform input[type="text"], #loginform input[type="password"] {
    background: url("/site_media/images/textbox1.png") repeat scroll 0 0 transparent;
    border: medium none;
    outline: medium none;
    padding: 11px 10px;
    width: 185px;
}
#loginform input[type="text"]:focus, #loginform input[type="password"]:focus {
    background-image: url("/site_media/images/textbox.png");
}
#loginform input[type="submit"] {
    background: url("/site_media/images/button.png") repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    outline: medium none;
    padding: 13px 43px;
    width: 151px;
}
#loginform input[type="submit"]:active {
    background-image: url("/site_media/images/button1.png");
}

#error
{
	position: relative;
	color : red;
	text-align:center;
	width  : 800px;
	padding-bottom : 30px;
}
