/*
	most of the css that makes it look good is in the jquery.autocomplete.css that comes with the autocomplete plugin.
	that formats the dropdown of search results.

	one class is used on the html interface itself and that's the X that allows you to remove an item.
	here is the styling I use.  add this to your main css file and season to taste.
*/
.iconic {
	background: #fff;
	color: #000;
	border: 1px solid #ddd;
	padding: 2px 4px;
	font-weight: bold;
	font-family: Courier;
	text-decoration: none;
}
.iconic:hover {
	text-decoration: none;
	color: #fff;
	background: #000;
	cursor: pointer;
}

/* change the X to an image */
.results_on_deck .iconic, .results_on_deck .iconic:hover {
    float: left;
    background: url('/site_media/images/trashcan.gif') no-repeat;
    color: transparent;
    border: 0;

}

#id_college_on_deck
{
	position:relative;
	top:-17px;
	left:10px;
}

/* specific to a site I worked on. the formatted results were tables.  I sized them and floated them left, next to the icon */
.results_on_deck div table {
    float: left;
    width: 300px;
    border: 0;
}
/* and each div in the result clears to start a new row */
.results_on_deck > div {
    clear: both;
}

#regform
{
	text-align:left;
	position:relative;
	width:700px;
}

#regform input[type="text"]
{
	width:185px;
	padding:11px 10px;
	border:none;
	outline:none;
	background:none;
	background-image:url(/site_media/images/textbox1.png);
}
	
#regform input[type="text"]:focus
{
	background-image:url(/site_media/images/textbox.png);
}

#regform ul
{
	list-style-type:none;
	position:relative;
	top:-10px;
}

#regform li
{
	float:left;
	padding:0px 10px;
}

#usertext
{
	position:relative;
	top:10px;
}

#regform select
{
width:200px;
padding:5px;
}

#regform input[type="submit"]
{
	position:relative;
	left:150px;
	background:none;
	background-image:url(/site_media/images/button.png);
	font-weight:bold;
	color:#FFF;
	border:none;
	padding:13px 43px;
	cursor:pointer;
	font-size:13px;
	width:151px;
	outline:none;
}

#regform input[type="submit"]:active
{
	background-image:url(/site_media/images/button1.png);
}

.errorlist,#errors
{
width:200px;
	color:#F00;
}

#gl
{
	position:relative;
	top:-125px;
	left:190px;
	text-decoration:underline;
	cursor:pointer;
}

#colgloader
{
	position:absolute;
	top:380px;
	left:450px;
	visibility:hidden;
}

#errors ul
{
	top:-5px;
}

.helptext
{
	position:relative;
	left:10px;
}
