#tablist
{
	list-style:none;
	position:relative;
	min-height:20px;
	text-align:center;
	
	
}

#tabs
{
	width : 100%;
	text-align:center;
}

#tablist li
{
        cursor:pointer;
	float:left;
	padding:0px 10px;
	margin:0px 0px;
	color:#FFF;
	
}

#tablist li:hover
{
color:yellow;
}

#tabMy_Events table
{
width:100%;
}

.delete
{
      cursor:pointer;
}
.delheading
{
float:right;
margin-right:50px;
}
.del
{
float:right;
margin-right:100px;
}

.tabbed
{
display:none;
}

.tabbed iframe
{
width:800px;
height:550px;
border:0px;
}

#tabMy_Profile
{
display:block;
margin-left : 55px;
}

#tablist a:hover
{
	background:#B8163C;
}

#lower
{
	margin-bottom:10px;
	color : white;
	background-color : white;
	height : 3px;
	
		
}

#upper
{
	margin-bottom:10px;
	color : white;
	background-color : white;
	height : 3px;
	
	
}


.header
{	
	width:90%;
	padding:10px;
	background:rgba(299,299,299,0.5);
	margin:5px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color:#000;
}


.info
{
	width:90%;
	padding:10px;
	text-align:right;
}

.remove
{
	cursor : pointer;
	
}
#message
{
	color : #00FF00;
	
	
}

