{% extends "admin/base_site.html" %}

{% block title %}Email participants{% endblock title %}'

{% block content %}
    <div id="content-main">
        {% if mails_sent %}
            <p style="">{{ mails_sent }} mails were successfully sent.</p>
        {% endif %}
        <h2>Select one or more events:</h2>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Event Name</th>
                        <th>Category</th>
                    </tr>
                </thead>
                {% for event in event_list %}
                    <tr class={% cycle "row1" "row2" %}>
                        <td><input type="checkbox" name="events" value="{{ event.id }}" /></td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.category.name }}</td>
                    </tr>
                {% endfor %}
            </table>
            <label for="email-subject">Subject:</label>
            <br />
            <input type="text" id="email-subject" name="email-subject" />
            <br />
            <label for="email-textarea">Body:</label>
            <br />
            <textarea id="email-textarea" name="email-content" cols="80" rows="10"></textarea>
            <br />
            <input type="submit" value="Send emails" />
        </form>
    </div>
{% endblock content %}