{% extends "admin/base_site.html" %}
{% block title %}Shortlist Applicants for {{ event.name }}{% endblock title %}
{% block extrahead %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#registered-select-all").click(function(source){
            var checkboxes = $(".registered");
            for(var i in checkboxes){
                checkboxes[i].checked = source.target.checked;
            }
        });

        $("#shortlisted-select-all").click(function(source){
            var checkboxes = $(".shortlisted");
            for(var i in checkboxes){
                checkboxes[i].checked = source.target.checked;
            }
        });
    });
    </script>
{% endblock extrahead %}
{% block content %}
    <div id="content-main">
        <h1> {{ event.name }} </h1>
           <p> {{ event.participant_set.count }} Registered - {{ event.shortlisted.count }} Shortlisted {% if user.is_superuser %} - {{ event.finalised_for.count }} Finalized {% endif %}</p>
          
        {% if registered %}
	<h2> Registered participants left to shortlist ( {{ registered|length }} ) </h2><br>
            <form action="" method="post" id="registered-participants-form">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="registered-select-all" /></th>
                        <th>Username</th>
                        <th>Full Name</th>
			<th>College</th>
			 <th>Phone</th>
			 <th>Email</th>
			{% if user.is_superuser %}
			<th>Event list</th>
			<th>Shortlisted events</th>
			<th>Finalized events</th>
			<th>Finalised for APOGEE</th>
			{% endif %}
                    </tr>
                </thead>
                {% for participant in registered %}
                    <tr class="{% cycle "row1" "row2" %}">
                        <td><input type="checkbox" name="participants" value="{{ participant.id }}" class="registered" /></td>
                        <td>{{ participant.username }}</td>
                        <td>{{ participant.get_full_name }}</td>
			<td>{{ participant.college }}</td>
			<td>{{ participant.contact_no}}</td>
			<td>{{ participant.email }}</td>
			{% if user.is_superuser %}
			<td><ul>{% for e in participant.events.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
      	                <td><ul>{% for e in participant.shortlisted_events.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
			<td><ul>{% for e in participant.finalized_for.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
			 <td>{{ participant.finalized|yesno:"Yes,Rejected,Not Yet"  }}</td>
			{% endif %}
                    </tr>
                {% endfor %}
            </table>
		<br/>
            <input style="padding:20px" type="submit" name="shortlist" value="Shortlist selected participants" />
            </form>
        {% else %}
            <p>No participants left to shortlist.</p>
        {% endif %}
        <br /><br /><br />
        {% if shortlisted %}
	 <h2> Shortlisted  participants ( {{ shortlisted|length }} )</h2><br />
            <form action="" method="post" id="shortlisted-participants-form">
            {% csrf_token %}
            <table>
                <thead>
                    <tr class="{% cycle "row1" "row2" %}">
                        <th><input type="checkbox" id="shortlisted-select-all" /></th>
                        <th>Username</th>
                        <th>Full Name</th>
			<th>College</th>
                         <th>Phone</th>
                         <th>Email</th>
                        {% if user.is_superuser %}
                        <th>Event list</th>
                        <th>Shortlisted events</th>
                        <th>Finalized events</th>
                        <th>Finalised for APOGEE</th>
                        {% endif %}

                    </tr>
                </thead>
                {% for participant in shortlisted %}
                    <tr  class={% cycle "row1" "row2" %} >
                        <td><input type="checkbox" name="participants"value="{{ participant.id }}" class="shortlisted" /></td>
                        <td>{{ participant.username }}</td>
                        <td>{{ participant.get_full_name }}</td>
			<td>{{ participant.college }}</td>
                        <td>{{ participant.contact_no }}</td>
                        <td>{{ participant.email }}</td>
                        {% if user.is_superuser %}
                        <td><ul>{% for e in participant.events.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
                        <td><ul>{% for e in participant.shortlisted_events.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
                        <td><ul>{% for e in participant.finalized_for.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
                         <td>{{ participant.finalized|yesno:"Yes,Rejected,Not Yet"  }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
	    <br />
            <input type="submit" style="padding:20px" name="unshortlist" value="Remove selected participants from shortlist" />
            {% if user.is_superuser %}
                <input style="padding:20px" type="submit" name="finalize" value="Finalize selected participants" />
            {% endif %}
            </form>
        {% else %}
            <p>There are no shortlisted participants {% if user.is_superuser %}left to finalize{% endif %} .</p>
        {% endif %}
        <br /><br /><br />

        {% if finalized %}
           <h2>Finalized Participants: ( {{ finalized|length }} ) </h2><br>
            <table>
                <thead>
                    <tr class={% cycle "row1" "row2" %}>
                        <th>Username</th>
                        <th>Full Name</th>
			<th>College</th>
                         <th>Phone</th>
                         <th>Email</th>
                        {% if user.is_superuser %}
                        <th>Event list</th>
                        <th>Shortlisted events</th>
                        <th>Finalized events</th>
                        <th>Finalised for APOGEE</th>
                        {% endif %}

                    </tr>
                </thead>
                {% for participant in finalized %}
                    <tr  class={% cycle "row1" "row2" %}>
                        <td>{{ participant.username }}</td>
                        <td>{{ participant.get_full_name }}</td>
			<td>{{ participant.college }}</td>
                        <td>{{ participant.contact_no }}</td>
                        <td>{{ participant.email }}</td>
                        {% if user.is_superuser %}
                        <td><ul>{% for e in participant.events.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
                        <td><ul>{% for e in participant.shortlisted_events.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
                        <td><ul>{% for e in participant.finalized_for.all %}<li>{{ e }}</li>{% endfor %}</ul></td>
                         <td>{{ participant.finalized|yesno:"Yes,Rejected,Not Yet" }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no finalized participants.</p>
        {% endif %}
    </div>
{% endblock content %}
