{% extends "admin/base_site.html" %}

{% block title %}Shortlist Applicants for Apogee 2012{% endblock title %}

{% block content %}
    <div id="content-main">
		{% if request.user.is_superuser %}
			<p>
			<a href="{% url participants-sheet %}">ALL Participants Excel sheet </a>
			 - This might take a while to generate, be patient ( maybe a minute or more ).
			</p>
		{% endif %}
        <p>Choose an event to shortlist participants from:</p>
        <ul>
            {% for category in categories %}
                <li>
                    <h3>{{ category.name }}</h3>
                    <ul>
                        {% for event in category.event_set.all %}
                            {% if event.register %}
                                {% if event.author == request.user %}
                                    <li><a href="{% url add-shortlist event.id %}">{{ event.name }}</a> -- {{ event.participant_set.count}} Registered - {{ event.shortlisted.count }} Shortlisted</li>
                                {% else %}
                                    {% if request.user.is_superuser %}
                                        <li><a href="{% url add-shortlist event.id %}">{{ event.name }}</a> --  {{ event.participant_set.count }} Registered - {{ event.shortlisted.count }} Shortlisted - {{ event.finalised_for.count }} Finalized - <a href="{% url event-sheet event.id %}">Generate excel sheet</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
