<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name = "keywords" content = "APOGEE, TECHNICAL FESTIVAL, BITS PILANI, 2012, A PROFESSIONAL ORIENTED GATHERING OVER EDUCATIONAL EXPERIENCES, BITS" />
<meta name="description" content = "The 5 day fiesta of Apogee to be held this year from 16th to 20th of March sees the confluence of thoughts and ideas amongst more than 10,000 young minds from not only India's but the world's top notch universities.Truly justifying its dictionary meaning as "the highest point", Apogee signifies the zenith of science, engineering and path-breaking technology in a landscape of future visionaries, scientists, corporate bigwigs and inventors. From paper presentations and guest lectures on one hand to debates, quizzes and cultural nights on the other, Apogee 2012 is playing host to a gamut of activities giving you the opportunity to interact with the brightest minds in the country." />
<meta name = "author" content = "Department of CCTV, BITS Pilani" />
  <title>{% block title %}APOGEE 2012{% ifnotequal event.name "About" %} - {{ event.name }}{% endifnotequal %}{% endblock %}</title>
  <!--[if lt IE 9]><script src="../j/html5.js"></script><![endif]-->
<link href="{{ MEDIA_URL }}/css/base.css" rel="stylesheet" />
<link rel="shortcut icon" href="{{ MEDIA_URL}}favicon.gif"  />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
 <script src="{{ MEDIA_URL }}js/modernizr.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.js"></script>
{% block extras %}{% endblock %}
    
    <script src="{{ MEDIA_URL }}js/easing.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
   
	<script type="text/javascript">
    $(document).ready(function(){
        tabresult = {
        {% autoescape off %}
        'tabs': {
            {% for tab in tabs %}
                '{{ tab.heading.name }}' : '{{ tab.content }}',
            {% endfor %}
        },
        'overview':'{{ event.overview }}',
        'register':'{{ event.register }}',
        'id':'{{ event.id }}',
        'name':'{{ event.name }}',
		'category' : '{{ event.category }}'
        
        };
        
        eventlist = {
        	{% for cat in cats %}
        		'{{ cat.name }}': [ {% for event in cat.event_set.all %} "{{ event }}" {% if forloop.last %} {% else %} , {% endif %} {% endfor %}],
        	{% endfor %}
        };
    {% endautoescape %}
    });
	
	
	
	updates = [
		{% autoescape on %}
		{% for update in updates %}
			"{{ update }}",
		{% endfor %}
		{% endautoescape %}
		];
    </script>
    <script src="{{ MEDIA_URL }}js/drag.js"></script>
    <script language="javascript" type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-9546354-3']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	{% block extrahead %}
	{% endblock %}
</head>
<body>
<!-- Fb Like Html5-->
<div id="lwrapper">
<center>
<div id="loginwrapper">
<img src="{{ MEDIA_URL }}/images/close.png" id="loginclose" />
<form id = "loginform" action="{% url login %}" method="post">
{% csrf_token %}
<label for="username"><font color="#3881ED">Sign into your <font color="black">apogee</font> account</font></label><br /><br />
<input type="text" name="username" value="Username" id="username" style="text-align:center;color:#3881ED;" /><br /><br />
<input type="password" name="password" value="Password" id="password" style="text-align:center;color:#3881ED;" /><br /><br />
<input type="submit" value="Log In" />
</form>
</div>
</center>
</div>

<div id="arrows"><div id="lefta"></div><div id="righta"></div></div>

<div id="mainwrapper">

<div id="header">
{% block header %}
<div id="updates">Updates&nbsp;:&nbsp;&nbsp;<div id="update"></div></div>
<ul id="toplinks">
<li><a href="/2012/">Home</a></li>
<li><a href="/2012/Participation">Participate</a></li>
<li id="blogs">Blogs<div id="blogstext" class="blogsclass"><a target="_blank" class="bloglink" href="http://www.bits-apogee.org/blog/english/">English</a><a class="bloglink" href="http://hpc.bits-student.org/apogee.html" target="_blank">Hindi</a></div></li>
<li><a href="/2012/Contacts">Contacts</a></li>
<li><a href="/2012/Sponsors">Sponsors</a></li>
<li><a href="http://www.facebook.com/bitsapogee" target="_blank"><img src="{{ MEDIA_URL }}/images/fb.png" /></a></li>
<li><a href="http://twitter.com/#!/BITSApogee" target="_blank"><img src="{{ MEDIA_URL }}/images/twitter.png" /></a></li>
</ul>

{% endblock %}
<div id="flashContent" align="center">

			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1200" height="225" id="banners1_new-2" align="middle">

				<param name="movie" value="http://www.bits-apogee.org/banner2012.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="transparent" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="http://www.bits-apogee.org/banner2012.swf" width="1200" height="225">
					<param name="movie" value="http://www.bits-apogee.org/banner2012.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
					</a>

				<!--[if !IE]>-->

				</object>

				<!--<![endif]-->

			</object>

		</div>


</div>

<div id="buttonwrapper">
      {% for cat in cats %}
        {% ifequal forloop.counter 1 %}
        <img src="{{ MEDIA_URL }}/images/on.png" id="p{{ forloop.counter }}" class="buttons" />
        {% else %}
        <img src="{{ MEDIA_URL }}/images/off.png" id="p{{ forloop.counter }}" class="buttons" />
        {% endifequal %}
    {% endfor %}
</div>

<div id="dragbar">
    <div id="dragtxt"><span id="left"><</span>&nbsp;<span id="innertxt">DRAG</span>&nbsp;<span id="right">></span></div>
</div>

<div id="categorieswrapper">
</div>

<div id="categories">

{% block categories %}
    {% for cat in cats %}
        <div style="background: url({{ MEDIA_URL }}{{ cat.icon }}) no-repeat;background-position:top;" id="cat{{ forloop.counter }}" class="cat"><p class="catname">{{ cat.name }}</p></div>
    {% endfor %}
  <div style="background: #000;width:180px;float:left;height:118px;"></div>
  </div>
{% endblock %}



<div id="events">
{% block events %}
{% endblock %}
</div>

<div id="content">


{% block content %}
	<div id="breadcrumbs">{% block breadcrums %}<span id="catb">{{ event.category }}</span>  &nbsp;&raquo;&nbsp; <span id="eveb">{{ event.name }}</span>{% endblock %}</div>
	<div id="titleofevent">{{ event.name }}</div>
	<div id="register">
	
	{% if event.register %}
	   <img src="{{ MEDIA_URL }}images/regevent.png" />
	{% endif %}	
	
	{% ifequal event.register -1 %}
	   You have already registered for this event.
	{% endifequal %}	
	
	
	
	</div>
	<div id="highlighter">
		<div id="highlight"></div>
		<div id="highlight2"></div>
	</div>

	<div id="content1" class="details">
	<ul class="tabslist">
	<li class="tabs" id="menulist0" style="margin-left:-300px">Overview</li>
	{% autoescape off %}
	{% for tab in tabs %}
		<li class="tabs" id="menulist{{ forloop.counter }}" style="margin-left:-300px">{{ tab.heading.name }}</li>
        {% endfor %}
        <li class="lasthr" style="margin-left:-300px;cursor:default;"></li>
        </ul>
	</div>
        
	<div id="tabcontent">
	{% block tabcontent %}
	{{ event.overview }}
	<br>
	{% if event.contact %}
	For further details contact: <br>
	{{ event.contact }}
	{% endif %}
	{% endblock %}
	{% endautoescape %}
	</div>

{% endblock %}
<div id="sidebar">
   {% if user.is_authenticated %}
    <div id='auth'>
     <h3>Welcome {{ user.username }}</h3>
    <ul>
    	<li><a href='{% url profile %}'>My Profile</a></li>
   	<li><a href='{% url logout %}'>Logout</a></li>
	<li><a href='{% url editprofile %}'>Edit Profile</a></li>
    	<li><a href='{% url changepass %}'>Change Password</a></li>
    </ul>
    </div>
    {% else %}
    <div id='logins' style='margin-top:30px;margin-bottom:0px;height:100px;'>
    <span id='loginlink' style='top:50px'><img id="logindisplay" src="{{ MEDIA_URL }}images/login.png"><br/><br/></span>    
    <span id='registerlink'><a href='{% url register %}'><img src="{{ MEDIA_URL }}images/register.png"/></a><br></span>
    <span id='forgotpass'><a href="{% url forgot %}" style='font-size:10px;color:white;text-decoration:none;top:-80px;'>Forgot Password?</a></span>
    </div>
    {% endif %}
   
    <h3 style="margin-top:50px;">Get Connected</h3>
    <iframe src="//www.facebook.com/plugins/like.php?href=facebook.com%2Fbitsapogee&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=35&amp;appId=207372092612883" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:40px;padding: 10px;padding-top:20px;" allowTransparency="true"></iframe>
    <div id="kernel">
    <h3>Kernel Events</h3>
        <ul>
            <li><a href="http://www.bits-apogee.org/2012/Build_&_Design/FTGP/">FTGP</a></li>
            <li><a href="http://www.bits-apogee.org/2012/Automation/iStrike/">iStrike</a></li>
            <li><a href="http://bits-apogee.org/2012/Build_&_Design/Windows_Phone_Hackathon/">Windows Phone Hackathon</a></li>
            <li><a href="http://www.bits-apogee.org/2012/Economania/SMS/">SMS</a></li>
            <li><a href="http://www.bits-apogee.org/2012/Build_&_Design/Dhiti/">Dhiti</a></li>
        </ul>
    </div>
    <h3>Archives</h3>
    <ul>
    <li><a target="_blank" href="http://www.bits-apogee.org/2011/">Apogee 2011</a></li>
    <li><a target="_blank" href="http://www.bits-apogee.org/2010/">Apogee 2010</a></li>
    </ul>

</div>
</div>

<div id="footer"><img src="{{ MEDIA_URL }}/images/logosmall.jpg" /> {% block footer %}{% endblock %}</div>

</div>
<!--mainwrapper ends -->
<div id="preload" style="position:absolute;visibility:hidden;">
<img src="{{ MEDIA_URL }}/images/regevent.png" />
<img src="{{ MEDIA_URL }}/images/loading.gif" />
<img src="{{ MEDIA_URL }}/images/content_loader.gif" />
<img src="/site_media/images/button1.png" />
<img src="/site_media/images/textbox.png" />
</div>
</body>
</html>