{% extends "base.html" %}
{% block title %}Apogee 2012 - Change Password{% endblock %}

{% block breadcrums %}<span id="catb">Home</span>  &nbsp;&raquo;&nbsp; <span id="eveb">Change Password</span>{% endblock %}

{% block tabcontent %}
<div id='formtitle'>Change Password</div>
{% if success %}
 {{ success }}
 {% else %}
<div id='error'> {{ error }}</div>
	<form action="{% url changepass %}" method="post" id='loginform'>
{% csrf_token %}
    <label for="old">Old Password:</label><br />
	<input type="password" name="old" value="" id="old"><br /><br />
	<label for="new">New Password:</label><br />
	<input type="password" name="new" value="" id="password"><br /><br />
    <label for="again">Confirm New Password:</label><br />
	<input type="password" name="again" value="" id="password"><br /><br />
	<input type="submit" value="Change Password" />
	</form>
 {% endif %}
{% endblock %}
