{% extends "base.html" %}
{% block title %}Apogee 2011 - Contacts{% endblock %}
{% block style %}

 #page,#navbarleft,#events,#navbarright,#content,#details

{

	height:1300px;

}

	

{% endblock %}



{% block details %}

<br/>



<h2>Contacts</h2>

<p>

<h4>President</h4>

Govindam Yadav<br/>

+91-95091-22600<br/>

govindam[at]bits-apogee[dot]org

</p>

<p>

<h4>General Secretary</h4>

Gautam Prasad<br/>

+91-97727-32344<br/>

gautam[at]bits-apogee[dot]org

</p>


<p>

<h4>For projects,events and registration</h4>

Zara Ahmed<br/>

+91-97858-91558<br/>

zara[at]bits-apogee[dot]org

</p>

<p>
<h4>For confirmation of your participation</h4>
Arunav Kanoria<br/>
+91-9983828077<br/>
</p>
<p>

<h4>For sponsorship and marketing</h4>

Pranjal Kalra<br/>

+91-96803-92876<br/>

pranjal[at]bits-apogee[dot]org

</p>

<p>

<h4>For paper presentations and guest lectures</h4>

Deepak Kumar Singh<br/>

+91-97729-76199<br/>

deepak[at]bits-apogee[dot]org

</p>

<p>

<h4>For invites and correspondence</h4>

Yashaswy Rao Pusarla<br/>

+91-95098-91700<br/>

yashaswy[at]bits-apogee[dot]org

</p>

<p>

<h4>For reception and accomodation</h4>

Samaksh Jhanjhari<br/>

+91-99283-66749<br/>

samaksh[at]bits-apogee[dot]org

</p>

<p>

<h4>For planning and publicity</h4>

Arpit Poladia<br/>

+91-97727-38797<br/>

arpit[at]bits-apogee[dot]org

</p>

<p>

<h4>For website and other technical queries</h4>

Nitin Gangahar<br/>

+91-97854-36197<br/>

nitin[at]bits-apogee[dot]org

</p>

<p></p>

<br/>



{% endblock %}


