{% extends "base.html" %}


{% block title %}
Apogee 2011 - Downloads
{% endblock %}

{% block style  %}
#details img
{
	padding:10px 47px;
}
#details div
{
	width:256px;
	padding:0px 47px;
	float:left;
}
#details #wallps
{
	width:700px;
	position:relative;
	top:10px;
	padding:0px;
	text-align:center;
}
#details a
{
	margin:0px 5px;
}
{% endblock  %}

{% block details %}
<div style="width:700px; background-color:#efefef; padding:10px 0px; font-size:26px; text-align:center;">Wallpapers</div><div id="wallps">
<img src="/site_media/images/apogee_wall_1.jpg" /><img src="/site_media/images/apogee_wall_2.jpg" /><br/>
<div>
<a href="/site_media/images/wallp/apogee_wall_1_1280x720.jpg" target="_blank">1280x720</a>
<a href="/site_media/images/wallp/apogee_wall_1_1280x800.jpg" target="_blank">1280x800</a>
<a href="/site_media/images/wallp/apogee_wall_1_1280x960.jpg" target="_blank">1280x960</a>
</div>
<div>
<a href="/site_media/images/wallp/apogee_wall_2_1280x720.jpg" target="_blank">1280x720</a>
<a href="/site_media/images/wallp/apogee_wall_2_1280x800.jpg" target="_blank">1280x800</a>
<a href="/site_media/images/wallp/apogee_wall_2_1280x960.jpg" target="_blank">1280x960</a>
</div>
</div>
{% endblock %}

