{% extends "base.html" %}
{% block title %}Apogee 2012 - Edit Profile{% endblock %}
{% block extrahead %}

<link rel="stylesheet" href="/2012/site_media/css/jquery.autocomplete.css"  />

<link rel="stylesheet" href="/2012/site_media/css/iconic.css"  />

<script src="/2012/site_media/js/jquery.autocomplete.js" type='text/javascript'> </script>
<script type="text/javascript">

//alert(document.getElementById('id_college_text').value);

$("#kill_id_college").live('click',function(){
											document.getElementById('id_college_text').style.visibility = 'visible';
									 });
</script>


{% endblock %}

{% block breadcrums %}<span id="catb">Profile</span>  &nbsp;&raquo;&nbsp; <span id="eveb">Edit Profile</span>{% endblock %}
{% block tabcontent %}
<div id='formtitle'>Edit your profile</div>
<div id="regform">
<form action="{% url editprofile %}" method="post" id = 'regform'>
{% csrf_token %}
<table class='no_error' cellspacing='15'>
 {% for field in form %}
<tr>
    <th width="120px">{{ field.label }}</th> <td> {{ field }}</td><td id="errors">{{ field.errors }}</td>
</tr>
<tr>
<td></td><td><span id="{{ field.name }}help" class="helptext" > {{ field.help_text }}</span></td>
</tr>
{% endfor %}
 </table>
 <br />
<input type="submit" name="register" value = "Submit" id = 'submit'/>
</form>
<span id="colgloader"><img src="/2012/site_media/images/loading.gif" /></span>
 </div>
{% endblock %}


