<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="{{ fb }}" />
<meta property="og:type" content="activity" />
<meta property="og:url" content="http://www.bits-apogee.org/2011/event/{{ fb }}/" />
<meta property="og:image" content="http://www.bits-apogee.org/site_media/images/apogee.jpg" />
<meta property="og:site_name" content="Apogee 2011" />
{% if event.facebook_admin_id %}
<meta property="fb:admins" content="{{ event.facebook_admin_id }},1196936645,653470708,612627672">
{% else %}
<meta property="fb:admins" content="1196936645,653470708,612627672" />
{% endif %}

<title>{{ fb }} </title>
</head>

<body>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.bits-apogee.org%2F2011%2Fevent%2F{{ fb }}%2F&amp;layout=standard&amp;show_faces=false&amp;width=390&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:390px; height:35px;" allowTransparency="true"></iframe>
<script type="text/javascript">window.location.href="http://www.bits-apogee.org/2011/#{{ event.category }}/{{ fb }}/";</script>
</body>
</html>
