{% extends 'base.html' %}




{% block title %}

Apogee 2011 - Forgot Password

{% endblock %}





{% block breadcrums %}<span id="catb">Home</span>  &nbsp;&raquo;&nbsp; <span id="eveb">Forgot Password</span>{% endblock %}

{% block tabcontent %}
<div id='formtitle'>Forgot Password</div>

{% if message %}
<div style="color:#006633; position:relative; top:10px; text-align:center;">{{ message }}</div>
{% else %}
<div style="color:#f00; position:relative; top:10px; text-align:center;padding-bottom:30px">{{ emessage }}</div>
<form action = '{% url forgot %}' method = 'post' id="loginform">
{% csrf_token %}

{{ form.as_table }}
<br/><br/>
<input type = 'submit' value= 'Reset Password' name = 'forgot' style="position:relative; left:10px;"/>

</form>

{% endif %}

{% endblock %}


