<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Group Leader Details</title>
</head>

<body style="background-color:#D2D2D2; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif">
{% block details %}
What is a Group Leader? <br/>
<br/><br/>
A Group Leader (GL) will be the representative of his/her college for Apogee 2012. He/ She will have the
following duties:<br/><br/><br/>

1. He/ She will be responsible for all communication between the organizers and participants from
his/her college.<br/><br/>
2. He/ She is required to ensure that all participants from his/ her college report at least 24 hours
before their respective events with all necessary official documents. (The GL will be intimated at
a later date about the list of documents required.)<br/><br/>
3. He/ She will be required to coordinate with all participants of his/her college in facilitating the
completion of all formalities related to registration, etc.<br/><br/>
<b>Note :  From the list of confirmed participants who've said yes to the group leader option, a group leader will be selected by the organizers.</b>
{% endblock %}
</body>
</html>
