<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<style>
@font-face {
        font-family: 'Vegur';
        src: url('/site_media/fonts/Vegur.eot');
        src: local('Vegur')), url('/site_media/fonts/Vegur.ttf') format('truetype'), url('/site_media/fonts/Vegur.svg') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'Vegur';
        src: url('/site_media/fonts/Vegur-M.eot');
        src: local('Vegur'), url('/site_media/fonts/Vegur-M.ttf') format('truetype'), url('/site_media/fonts/Vegur-M.svg') format('svg');
        font-weight: bold;
}
body
{
font-family:'Vegur',"Lucida Sans Unicode", "Lucida Grande", sans-serif;
height:340px;
width:500px;
}

body a
{
	color:#024c96;
	text-decoration:none;
}

body input[type="text"], body input[type="password"]
{
        width:185px;
        padding:11px 10px;
        outline:none;
        border:none;
        background:none;
        background-image:url(/site_media/images/textbox1.png);
}

body input[type="text"]:focus, body input[type="password"]:focus
{
        background-image:url(/site_media/images/textbox.png);
}

body input
{
        font-size:15px;
}

body input[type="submit"]
{
        background:none;
        background-image:url(/site_media/images/button.png);
        font-weight:bold;
        color:#FFF;
        border:none;
        padding:13px 43px;
        cursor:pointer;
        font-size:13px;
        width:151px;
        outline:none;
}

body input[type="submit"]:active
{
        background-image:url(/site_media/images/button1.png);
}

form
{
	margin:auto;
	width:300px;
}

#container
{
	width:400px;
	position:relative;
	top:10px;
	left:50px;
}

#message
{
        color:#F00;
}

#registered
{
	position:relative;
	top:20px;
	left:60px;
}

</style>
</head>
<body>
<div id="container">
<h1>Participant Login</h1><hr style="position:relative; top:-15px;"/>
{% if message %}
  {% if message == '1' %}
  <script>
 window.parent.location.href="{% url profile %}";</script>
  {% else %}
  <p id="message">{{ message }}</p>
  {% endif %}
{% endif %}

<form id = "loginform" action="{% url llogin %}" method="post">
{% csrf_token %}
<label for="username">Username</label>
<input type="text" name="username" value="" id="username"><br /><br />
<label for="password">Password&nbsp;</label>
<input type="password" name="password" value="" id="password"><br /><br />
<input type="submit" value="Log In" /><a href="{% url forgot %}" target="_blank" style="margin-left:20px;">Forgot Password?</a>
</form>
<span id="registered">Not yet registered? <a href="{% url register  %}" target="_blank">Register Now</a></span>
</div>
</body>
</html>
