{% extends "base.html" %}
{% block title %}Apogee 2012 - Login{% endblock %}

{% block breadcrums %}<span id="catb">Home</span>  &nbsp;&raquo;&nbsp; <span id="eveb">Login</span>{% endblock %}

{% block tabcontent %}
<div id='formtitle'>Login</div>

{% if form.errors %}
Sorry, that's not a valid username or password
{% endif %}
{% if message %}
<div id="error">{{ message }}</div>
{% endif %}

<form id = "loginform" action="{% url login %}" method="post">
{% csrf_token %}
<label for="username">Username:</label><br />
<input type="text" name="username" value="" id="username"><br /><br />
<label for="password">Password:</label><br />
<input type="password" name="password" value="" id="password"><br /><br />
<input type="submit" value="Log In" />
</form>

{% endblock %}
