{% extends "admin/base.html" %}
{% block title %}Mass Email{% endblock %}
{% block content %}
<h2>Mass Email to registered participants</h2>
<br/>
<h3 style="color:red">{{ form.error }}</h3>
<form action="{% url mass_email %}" method="post" >
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Send" />
</form>
{% endblock %}
