{% extends "mob_base.html" %}

{% block title %}{{ cat }} | Apogee 2012{% endblock %}

{% block content %}
	<ul data-role="listview" data-inset="true">
		{% for e in events %}
		<li> <a href="{{ e.name }}/"> {{ e.name }}</a> </li>
		{% endfor %}
	</ul>
{% endblock %}