<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}APOGEE 2012{% endblock title %}</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
	<link rel="stylesheet" href="css/custom.css" />
	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
</head>
<body> 

<div data-role="page">
	<header data-role="header">
		{% block header %}
		<h1>APOGEE 2012</h1>
		{% endblock %}
	</header><!-- end header -->

	<div id="main" data-role="content">	
		{% block content %}
		<ul data-role="listview" data-inset="true" data-filter="true">
				{% for c in cats %}
				<li>
					<a href="{{ c.name }}/">
						<img src="{{ c.icon.url}}" alt="">
						<h3>{{ c.name }}</h3>
					</a>
				</li>
				{% endfor %}
			</ul>
		{% endblock %}
	</div><!-- end content -->

	<footer data-role="footer">
		{% block footer %}
		<!-- Department of CCTV-->
		<h4>BITS Pilani</h4>
		{% endblock %}
	</footer><!-- end footer -->
</div>

</body>
</html>