{% extends "mob_base.html" %}

{% block title %}Apogee 2012{% endblock %}

{% block content %}
	<ul data-role="listview" data-inset="true" data-filter="true">
		{% for c in cats %}
		<li>
			<a href="{{ c.name }}/">
				<img src="{{ c.icon.url}}" alt="">
				<h3>{{ c.name }}</h3>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endblock %}