{% extends "mob_base.html" %}

{% block title %}Apogee 2012{% endblock %}

{% block content %}
	<h1>{{ e.name }}</h1>
	<div data-role="collapsible" data-collapsed="false" data-theme="a" data-content-theme="a">
		<h3>Overview</h3>
		{{ e.overview|safe }}
		<br />
		{% if e.contact %}
		For further details contact: <br>
		{{ e.contact|safe }}
		{% endif %}
	</div>
	{% for tab,content in details.items %}
	{% if content %}
	<div data-role="collapsible" data-collapsed="true" data-theme="a">
		<h3>{{ tab }}</h3>
		{{ content|safe }}
	</div>
	{% endif %}
	{% endfor %}
{% endblock %}