{% extends 'base.html' %}

{% block title %}
Apogee 2011 - Participation
{% endblock %}

{% block css %} <script src="/site_media/js/participation.js" type='text/javascript'> </script>
 {% endblock %}
{% block style %}
#page,#navbarright,#navbarleft,#content,#events
{
	height:1100px;
}

#tablist a
{
	color:#000;
}
{% endblock %}
{% block details %}
<br />
<img id='uppersp' src='/site_media/images/shadow-top.png'/>
<hr id='upper'/>
<hr id="middle" style="position:absolute; top:62px; width:700px;" />
<div id='tabs' style="height:75px;">
<ul id='tablist'>
<li id='Guidelines' class='tab' style="padding:7.5px 0px;"><a href="#Guidelines">Guidelines</a></li>
<li id='On_Campus_Registration' class='tab' style="padding:7.5px 0px;"><a href="#On_Campus_Registration">On Campus Registration</a></li>
<li id='Accomodation_and_Hospitality' class='tab' style="padding:7.5px 0px;"><a href="#Accomodation_and_Hospitality">Accomodation & Hospitality</a></li>
<li id='Prize_Distribution' class='tab' style="padding:7.5px 0px;"><a href="#Prize_Distribution">Prize Distribution</a></li>
<li id='How_to_reach_Pilani' class='tab' style="padding:7.5px 0px;"><a href="#How_to_reach_Pilani">How to reach Pilani</a></li>
<li id='FAQs' class='tab'><a href="#FAQs">FAQs</a></li>
<li id='Schedule' class='tab'><a href="#Schedule">Schedule</a></li>

</ul>
<br/><br/><br/>
</div>
<hr id='lower'/>
<img id='lowersp' src='/site_media/images/shadow-bottom.png' style="top:99px;"/>
<div id='tabOn_Campus_Registration' class='tabbed'>
On Campus Registration Procedure:<br /><br />       &middot;  Once on campus, report to the Firewallz booth at the gate.<br /><br />       &middot;  Then, proceed to the Controlz booth to register.<br /><br />       &middot;  Obtain your ID card from the adjacent Firewallz  booth.<br /><br />       &middot;  Go to the reception and accommodation hut to obtain your accommodation details.<br /><br />Please note:<br /><br />     &middot;  The registration fees will be Rs. 600 per person, including accommodation. The workshop fees will be separate.<br /><br />     &middot;  You will have to pay a refundable safety deposit of Rs.200 at the Reception and Accommodation hut.<br /><br />     &middot;  You need to produce the following documents at the Controlz Booth, on arrival at the campus:<br /><br /><br />           1.  Two passport size photographs<br /><br />           2. A valid college ID card / bonafide certificate<br /><br />           3. A print-out of your confirmation mail with a unique confirmation ID<br />           <br />     - Note your Account No, Bank IPSC Code for the Prize Money<br /><br /><br />Food charges are not included in the above fee. Meal coupons for food in the mess will be sold at the Controlz Booth.<br /><br />Once registered for APOGEE, participants (including Paper presentation finalists) are free to take part in all on-the-spot registration events.<br /><br />For queries regarding confirmations, contact :  Arunav Kanoria 9983827077<br />Hope to see you at APOGEE 2011<br />
</div>
<div id='tabAccomodation_and_Hospitality' class='tabbed'>
Accommodation Rules<br /><br />Colleges that have not confirmed their participation will not be granted admission. There shall be a booth set up by the Department of Reception and Accommodation where participants will be given the details of their accommodation. On payment of a refundable caution deposit of Rs 200, participants will be assigned living quarters. Participants need not bring bedding, buckets and so on. These will be provided at the time of allotment of accommodation. The caution deposit will be refunded when participants leave campus, provided that there is no damage to the rooms, bedding and so on.<br /><br />Hospitality<br /><br />There will be a Hospitality counter open 24 hours at the "Reception &amp; Accommodation" booth to help you with further queries once you have arrived on campus. <br /><br />For furthur details contact :<br /><br />Samaksh Jhanjhari<br />+91-99283-66749<br />samaksh[at]bits-apogee[dot]org
</div>
<div id='tabPrize_Distribution' class='tabbed'>
<div id="node-1543" class="node node-type-story">
<div class="node-inner">
<div class="content">
<p>Please note that all participants would need to carry details of  their bank accounts in order to receive prize money for various  events.In particular, they should have the following details with them</p>
<ol>
<li>Name and branch of bank</li>
<li>Account number</li>
<li>Bank IPSC code</li>
</ol>
<p>Money would be transferred to respective accounts following submission<br /> of these details.</p>
</div>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
<div id='tabHow_to_reach_Pilani' class='tabbed'>
<div id="node-110" class="node node-type-page">
<div class="node-inner">
<div class="content">
<p><strong>Travelling by car/taxi from Delhi</strong></p>
<p>Distance is 200 or 220 km depending on route taken and takes about  4.5 hours. There are three routes to get here (in order of preference)</p>
<p>Delhi-Gurgaon-Dharuheda-Rewari-MahendraGarh-Loharu-Pilani<br /> Delhi-Gurgaon-Dharuheda-Rewari-Narnaul-Singhana-Chirawa-Pilani<br /> Delhi-Rohtak-Bhiwani-Loharu-Pilani</p>
<p><strong>Travelling by bus from Delhi</strong></p>
<p>In case you prefer to travel by public transport, you need to catch a  bus at the Inter State Bus Terminal (ISBT), Kashmiri Gate, Delhi. There  are frequent buses to Pilani starting from Delhi around 4:55 AM to  10:00 PM.</p>
<p><strong>Travelling by bus from Jaipur</strong></p>
<p>In case you prefer to travel by public transport, you need to catch a  bus from the State Bus Terminal (Sindhi Camp), Jaipur. There are  frequent buses to Pilani starting from Jaipur around 4:00 AM till  mid-night.</p>
<p><strong>Travelling by train from Jaipur </strong></p>
<p>Train from Jaipur to Chirawa (16 km from Pilani) or Loharu (26 km from Pilani).</p>
<div><a href="http://www.bits-apogee.org/2010/sites/default/files/pilani.jpg"><img src="http://www.bits-apogee.org/2010/sites/default/files/pilani.jpg" alt="" height="150" /></a></div>

</div>
</div>
</div>
<br/>
<a href='http://www.bits-apogee.org/site_media/files/ts.pdf'>Click here to download the Train Schedule</a>
</div>
<div id='tabFAQs' class='tabbed'>
<div id="node-104" class="node node-type-story">
<div class="node-inner">
<div class="content">
<p><strong>Q.</strong> I want to participate in APOGEE 2011. I am from college XYZ. How should I go about getting myself registered for event ABC?</p>
<p><strong>Ans.</strong> Kindly read the link Registration given under  Participation on the home page. Some events require prior online  registration and short listing. There shall be just one registration for  all events on campus at the Controlz Booth which shall be done  immediately on arrival.</p>
<p><strong>Q.</strong> I want to participate in events during APOGEE 2011. Is it  necessary for me to come via my college? Can't I come as an independent  person without my college getting involved??</p>
<p><strong>Ans.</strong> If you want to participate in events, you will have to  come via your college. If you just want to visit APOGEE without  participating, you shall be allowed provided any BITSian is willing to  take responsibility for you.The rule is that one BITSian can host one  outstation participant on his behalf. You shall not be provided  accommodation in this case.</p>
<p><strong>Q.</strong> Are there any eating joints in the campus?<br /> <strong>Ans.</strong> You can purchase mess coupons at the Controlz Booth at  nominal prices. Apart from this, there will be a number of food stalls  put up in the lawns<br /> There are also many other eating joints on campus:</p>
<ul>
<li>&nbsp; C'not is host to a number of restaurants.</li>
<li>&nbsp; All Night Canteen (ANC) (open till 4 AM).</li>
<li>&nbsp; SAC Canteen in the Students' Activities Center (open till 2 AM).</li>
<li>&nbsp; Institute Canteen behind the auditorium (open till 9 PM).</li>
<li>&nbsp; SkyLab in the SKY Lawns (open till 7 PM).</li>
</ul>
<p>&nbsp;</p>
<p><strong>Q.</strong> Do any events require pre-registration?</p>
<p><strong>Ans.</strong> Please read the event writeups. Events requiring pre- registration will have a mention of it.</p>
<p><strong>Q.</strong> Whom should I contact for details and clarifications regarding events?</p>
<p><strong>Ans.</strong> You can contact the following people for further details regarding events:<br /> The coordinator of the respective event (Name, email specified after each event) or CoStAAn, Controlz.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
<div id='tabGuidelines' class='tabbed'>
CREATE AN APOGEE PROFILE.<br />Your password will be mailed to you.<br /><br />APOGEE has pre-registration events for which you can register online, apart from various On-the-Spot Registration events. You can register for these pre-registration events after logging in from your APOGEE user account.<br /><br />Only the participants who have received a confirmation mail with a confirmation ID from &lt;noreply@bits-apogee.org&gt; or zara[at]bits-apogee.org are confirmed participants eligible to attend APOGEE 2011. This holds for both pre-registration and On-the-Spot registration events.<br /><br />In case you or any of your team members haven't received the confirmation mail with a UNIQUE CONFIRMATION ID FOR EVERY PARTICIPANT, contact Arunav 99838328077.<br /><br />If you have received a confirmation mail and are coming to Pilani to attend APOGEE 2011, make sure you fill out the RSVP <a href="https://spreadsheets.google.com/viewform?hl=en&amp;formkey=dGhCY1FBMkZVUlZTSnJQV0FpTDVxQ1E6MQ#gid=0" target="_blank">form</a>.<br /><br />WORKSHOP Participants have to send DDs before 12th March to reserve their seats. For details, check out 'Workshop Payment' under the 'Workshops' tab on the left.<br />
</div>
<div id='tabSchedule' class='tabbed'>
<p>This schedule is subject to change without prior information .<br/><br/> Project competetion will be on 26th,27th,28th of march from 09:00 - 12:00. </p>
<p><a href='/site_media/files/Apogee_2011_Schedule_March_26_4 pm'> Click here to download the tentative schedule</a></p>

</div>
{% endblock %}
