{% extends "base.html" %}

{% block title %}
Apogee 2012 - My Profile
{% endblock %}

{% block extras %} 
<link href="{{ MEDIA_URL }}/css/profile.css" rel="stylesheet" />
<script src="{{ MEDIA_URL }}/js/profile.js" ></script>
 {% endblock %}

{% block breadcrums %}<span id="catb">Profile</span>  &nbsp;&raquo;&nbsp; <span id="eveb">About Me</span>{% endblock %}

{% block tabcontent %}
<div id='formtitle'>Apogee Profile</div>
<div id="message">
{% if success %}
 {{ success }}
{% endif %}
</div>

<hr id='upper'/>

<div id='tabs' >
<ul id='tablist'>
<li id='My_Profile' class='tab'>My Profile</li>
<li id="My_Events" class='tab'>My Events</li>
<li id='My_Teams' class='tab'>My Teams</li>
<li id='Registration_Status' class='tab'>Registration Status</li>
<li id='Virtuosity_Uploads' class='tab'>Virtuosity Uploads</li>
{% comment %}<li id="Paper_Uploads" class="tab">Paper Uploads</li>
<li id="Project_Uploads" class="tab">Project Uploads</li>
<li id='Group_leader' class='tab'>Group Leader</li>
<li id='Bus_Reservation' class='tab'>Bus Reservation</li>{% endcomment %}
</ul>
</div>
<hr id='lower'/>
<div id='tabVirtuosity_Uploads' class='tabbed'>
<iframe id="viruploads" src="/2012/virupload" scrolling="NO" style="overflow-x: hidden; overflow-y:visible;"></iframe>
</div>
{% comment %}
<div id='tabPaper_Uploads' class='tabbed'>
<iframe id="pruploads" src="/2012/upload" scrolling="NO" style="overflow-x: hidden; overflow-y:visible;"></iframe>
</div>

<div id='tabProject_Uploads' class='tabbed'>
<iframe scrolling="NO" id="uploads" src="/2012/prupload" style="overflow-x: hidden;overflow-y:visible;"></iframe>
</div>{% endcomment %}

<div id='tabMy_Profile' class='tabbed'>
<div class="header">Username</div>
<div class="info">{{ p.username }} </div>
<div class="header">Full Name</div>
<div class="info">{{ p.get_full_name }}</div>
<div class="header">Year and College</div>
<div class="info">{{ year }}, {{ p.college }}</div>
<div class="header">E-mail</div>
<div class="info">{{ p.email }}</div>
<div class="header">Contact No.</div>
<div class="info">{{ p.contact_no }}</div>
</div>
<div id="tabMy_Events" class='tabbed'>
{% if p.events.all %}
<table>
<tbody>
<tr>
<th class="name">Name</th>
{% if p.finalized %}
<th class='statheading'>Status</th>
{% endif %}
<th class='delheading'>Delete Event</th>
</tr>
</tbody>
</table>
<hr  />
{% for event in p.events.all %}
<table>
<tbody>
<tr id="tr{{ event.id }}">
<td class="name"><a href="/2012/{{ event.category }}/{{ event.name }}/">{{ event.name }}</a></td>
{% if p.finalized %}<td class='stat'>{% if event in p.shortlisted_events.all %}
 Shortlisted
{% endif %}</td>{% endif %}
<td class="del"><img id="{{ event.id }}" class="delete" src="{{ MEDIA_URL }}/images/trashcan.gif" /></td>
 </tr>
 </tbody>
 </table>
<hr  />
 {% endfor %}
 {% else %}
 You have not registered for any event yet.
 {% endif %}
</div>
<div id="tabMy_Teams" class='tabbed' style="width:700px; text-align:center;">
<a href="{% url create_team %}" style="font-size:20px;" target="_blank">Create a Team</a><br /><br />
<a href="{% url join_team %}" style="font-size:20px;" target="_blank">Join Team</a><br />
{% for team in p.team_members.all %}
<br /><br/><br/><br/>
<div id="tr{{ team.id }}">
<table style="color:#063;">
<tbody>
<tr>
<th style="width:200px;">Team Id : {{ team.id_tag }}</th> 
<th style="width:300px;">{{ team.event }}</th>
<th style="width:200px;" id="{{ team.id }}" class="remove">Remove me from this Team</th>
</tr>
</tbody>
</table>
<br/>
<hr  />
<table>
<tbody>
<tr>
<th style="width:200px;">Name of Member</th> 
<th style="width:400px;">College</th>
<th style="width:100px;">Contact No.</th>
</tr>
</tbody>
</table>
<hr  />
{% for member in team.members.all %}
<table>
<tbody>
<tr>
<td style="width:200px;">{{ member.get_full_name }}</td>
<td style="width:400px;">{{ member.college }}</td>
<td style="width:100px;">{{ member.contact_no }}</td>
 </tr>
 </tbody>
 </table>
 <hr  />
{% endfor %}
<br/>
</div>
{% endfor %}


</div>
<div id="tabRegistration_Status" class='tabbed'>
{% if p.finalized %}
<div style="text-align:center; width:700px;">Status&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;<img src="/site_media/images/icon-yes.gif" /><br/><br/>You are a confirmed participant. You can now attend Apogee 2012.</div>
{% else %}
{% if p.finalized == None %}
<div style="text-align:center; width:700px;">Status&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;<img src="/site_media/images/icon-unknown.gif" /><br/><br/>You are not a confirmed participant. Only confirmed participants can attend Apogee 2012. You shall be notified if/when you are confirmed.</div>
{% else %}
<div style="text-align:center; width:700px;">Status&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;<img src="/site_media/images/icon-no.gif" /><br/><br/>Sorry! You have been rejected. You are not eligible to attend Apogee on campus events. However you may take part in online events.</div>
{% endif %}
{% endif %}
{% if p.draft %}
<div id="message">
<br/><br/><br/>
Your draft has been received.
</div>
{% endif %}
</div>
{% comment %}
<div id="tabGroup_leader" class="tabbed">
{% if p.college.gleader == p %}
  You have been selected as the group leader of your college.<br/><br/>
  Click <a href='/2012/gl/' target='_blank'>here</a> to know about your duties.
{% else %}
 {% if p.college.gleader == None %}
  No group leader has been selected from your college.
 {% else %}
 <div style='font-size:24px;'>Group Leader Information</div>
 <br/>
    <div class="header">Full Name</div>
  <div class="info">{{ p.college.gleader.get_full_name }}</div>
  <div class="header">E-mail</div>
  <div class="info">{{ p.college.gleader.email }}</div>
  <div class="header">Contact No.</div>
  <div class="info">{{ p.college.gleader.contact_no }}</div>
  {% endif %}
{% endif %}
</div>
 
<div id="tabBus_Reservation" class="tabbed">
<p>Buses on 26th of March have been cancelled. Buses will only be plying on the 25th of March.</p>
<p>Note :</p>
Buses from Nizmuddin have been cancelled<br/> There will be 2 buses at 12:00pm .<br/> Participants are requested to be on Ajmeri Gate Side, New Delhi Railway station for the bus.</p>
<p>Contact : <br/>Vibhas - 07568411181<br/> 
Rishabh - 08955944567</p>
<iframe src="{% url bookbus %}" style="width: 700px; height: 400px; border: medium none;"></iframe>
</div>{% endcomment %}
{% endblock %}

