{% extends "base.html" %}

{% block title %}
Apogee 2011 - Search
{% endblock %}
{% block style %}
#content,#events,#navbarright,#navbarleft,#page
{
	height:{{ events|length }}99px;
}
{% endblock %}
{% block details %}
{% if events %}

  {% for event in events %}
	<a href="/2011/#{{ event.category }}/{{ event.name }}/" style="font-size:18px; text-decoration:underline;">{{ event.name }}</a><br/>
	<span class="searchcontent">{{ event.overview|truncatewords_html:20|safe }}</span>
  {% endfor %}
  
{% else %}
 <h1>No search results found.</h1>
<p>No event found with this name.</p>
{% endif %}
{% endblock %}
