{% extends "base.html" %}

{% block title %}
Apogee 2011 - Sponsors
{% endblock %}

{% block endscript %}
/*
$("#page").css('height',$("#details").height()+50+'px');
$("#content").css('height',$("#details").height()+50+'px');
$("#navbarright").css('height',$("#details").height()+50+'px');
$("#navbarleft").css('height',$("#details").height()+50+'px');
$("#events").css('height',$("#details").height()+50+'px');
*/
{% endblock %}
{% block style %}
#page,#content,#navbarright,#navbarleft,#events
{
	height : 6500px;
}
{% endblock %}
{% block details %}
<div id="pastspons">
<a href="http://www.bits-apogee.org/2010/sponsors" target="_blank">Past Sponsors</a>
</div>
{% for category in categories %}
<div style="text-align:center;">
<br/>
<br/>
<div style="width:700px; background-color:#efefef; padding:10px 0px; font-size:26px;">{{ category }}</div>
<br/>
<center>
{% for sponsor in sponsors %}
{% if sponsor.category == category %}
<a href="{{ sponsor.link }}" target="_blank">
<img src="/site_media/{{ sponsor.image }}" style="border:none; padding:10px 30px;"/>
</a>
{% endif %} 
{% endfor %}
</center>
<div style="clear:both"></div>
</div>
{% endfor %}
{% endblock %}
