{% for category in categories %}
<div style="text-align:center;">
<br/>
<br/>
<div style="width:700px; background-color:#efefef; padding:10px 0px; font-size:26px;color:black;">{{ category }}</div>
<br/>
<center>
{% for sponsor in sponsors %}
{% if sponsor.category == category %}
<a href="{{ sponsor.link }}" target="_blank">
<img src="/2012/site_media/{{ sponsor.image }}" style="border:none; padding:10px 30px;"/>
</a>
{% endif %} 
{% endfor %}
</center>
<div style="clear:both"></div>
</div>
{% endfor %}
