{% extends "base.html" %}

{% block title %}
Apogee 2012 - Create Team
{% endblock %}
{% block breadcrums %}<span id="catb">Teams</span>  &nbsp;&raquo;&nbsp; <span id="eveb">Create Team</span>{% endblock %}
{% block tabcontent %}
<div id='formtitle'>Create a Team</div>
<form id="loginform" action="{% url create_team %}" method="post">
{% csrf_token %}
{% for field in form %}
<span style="color:#F00;">{{ field.errors }}</span><br/><br />
{{ field.label }} &nbsp;&nbsp; {{ field }}
{% endfor %}
<br/>
<br/>
<input type="submit" value="Create Team" />
</form>
{% endblock %}
