<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    {% endblock css %}
</head>
<body>
{% block details %}
{% endblock details %}
</body>
</html>