<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Virtuosity Uploads</title>
<style>
body
{
color:#FFF;
 font-family: 'Open Sans', sans-serif;
}
body select
{
	width:200px;
}

body input
{
	font-size:15px;
}

body input[type="submit"]
{
	background:none;
	background-image:url(/site_media/images/button.png);
	font-weight:bold;
	color:#FFF;
	border:none;
	padding:13px 43px;
	cursor:pointer;
	font-size:13px;
	width:151px;
	outline:none;
}

body input[type="submit"]:active
{
	background-image:url(/site_media/images/button1.png);
}

#message
{
	color:#063;
	text-align:center;
	padding-bottom:30px;
}

.delevent
{
	position:relative;
	left:270px;
	color:#063;
}

a
{
 text-decoration : none;
}
ul
{
list-style:none;
}

ul li
{
width:200px;
}

.errorlist
{
color:red;
}
</style>
<script type="text/javascript" src="/site_media/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$(".delete").click(function(){
								var tid=this.id;
								var trid='tr'+tid;
							    document.getElementById(trid).parentNode.parentNode.className="delevent";
								document.getElementById(trid).innerHTML='<img src="/site_media/images/content_loader.gif" />';
								$.post('{% url delvirupload %}',{'id' : this.id },function(response){
																			  document.getElementById(trid).innerHTML=response;
																			   })
								});
});
</script>
</head>
<body>
<div id="message">
{% if message %}
	{{ message }}
 {% endif %}
</div>
{% if p.virtuosityupload_set.all %}
	<table>
    <tbody>
     <tr> <td width="300px">Name</td><th width="150px">Delete</th></tr>
     </tbody>
     </table>
      <hr />
     	{% for p in p.virtuosityupload_set.all %}
        <table>
        <tbody>
    	<tr id="tr{{ p.id }}">
    <td width="300px">{{ p }}</td><th width="150px"><img class="delete" id="{{ p.id }}" src="/site_media/images/trashcan.gif" style="cursor:pointer; z-index:4000;" /></th>
		</tr>
    </tbody>
	</table>
      <hr />
	{% endfor %}
{% endif %}
<div>
<form action="{% url virupload %}" enctype="multipart/form-data" method="post" style="border-color:#333; border-style:solid; border-width:thin; margin:50px; padding-top:20px; padding-bottom:20px; padding-left:50px;" >
{% csrf_token %}
<table class='no_error' cellspacing='15'>
 {% for field in form %}
<tr>
    <th width="120px">{{ field.label }}</th> <td> {{ field }}</td><td id="errors">{{ field.errors }}</td>
</tr>
<tr>
<td></td><td><span id="{{ field.name }}help" class="helptext" > {{ field.help_text }}</span></td>
</tr>
{% endfor %}
 </table>
<input type="submit" value="Upload" name="upload" style="margin-left:150px;" />
</form>
{# Project uploads have been closed. #}
</div>
</body>
</html>
