{% extends "base.html" %}

{% block details %}
<p style="text-align: center;"><strong>Website designed and devloped by :</strong><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jalaj Jain&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Designer ( Photoshop )<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sameer Goyal&nbsp;&nbsp;&nbsp;&nbsp; - Frontend Developer ( HTML , CSS , Javascript )<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Samvit Majumdar&nbsp; - Backend Developer&nbsp; ( Django , MySQL , Apache )</p>
{% endblock %}
