{% extends "base.html" %}

{% block title %}
Apogee 2011 - Workshops
{% endblock %}

{% block style %}
.errorlist
{
	list-style-type:none;
	position:absolute;
	left:400px;
	color:#F00;
}
{% endblock  %}

{% block details %}

<h2> Conduct Workshop </h2>
{% if notice %}
{{ notice }}

{% else %}
<form action="/2011/workshop/" method="post" id="loginform">
{% csrf_token %}
<table class='no_error' cellspacing='15'>
 {{ form.as_table }}
<tr></tr>
<tr ><td></td><td align = 'center'><input type="submit" name="register" value = "Register"/> </td></tr>
</table>

</form>
{% endif %}
<br/><br/>
<br/>
<h2>About i3indya</h2>
<p><span><span>
</span></span><span><span>
<p><span><span><img style="float: left; padding: 10px;" src="http://bits-apogee.org/site_media/images/sponsors/logo-i3indya2.jpg" alt="" width="122" height="90" /></span></span><strong>i3indya Technologies</strong>, a unit of <strong>iThree Infotech Pvt. Ltd.</strong>,  is exploring indefinitely in the innovative world of education services  and as a technology service provider. It was conceptualized with a  motive to spread the magic of technology amongst students all over the  country.</p>
<p>i3indya Technologies was started by a group of entrepreneurs  with a motive to conduct workshops and training programs in various  Engineering Colleges and to provide the most comprehensive and  fulfilling services by creating an ambiance of creativity and an  approach towards seeking logical solutions to everyday problem. The  company was so named with having a core values of <strong>"i 3"</strong> as <strong>Innovation, Information and Intelligence.</strong> The workshops provided by the company covers all these aspects.</p>
<p>The objective of our organization is to generate a need of various technologies among engineering colleges across India.</p>
<p>Our dream is to change the  overall education system of India and to develop the students with the  upcoming technologies, so that they can  compete with the world, by  providing them with the latest technology and updated workshops and  trainings.</p>
The Vision of the founders is <strong>Thinking Beyond Thinking</strong></span></span></p>
{% endblock %}
